@tailwind components;
@tailwind utilities;

.cm-target {
  background-color: #ff9999;
  outline: 1px solid red;
}

.cm-target-fulfilled {
  background-color: #99ff99;
  outline: 1px solid green;
}

.cm-goal-text {
  opacity: 0.5;
}

.cm-similarity-incorrect {
  color: #880000;
}
.cm-similarity-shifted {
  color: #888800;
}

.cm-similarity-correct {
  color: #008800;
}
